<% if product = Product.find_by(id: product_id) %>
<tr>
  <td>
    <h4>Product Name: <%= product.name %></h4>
  </td>
  <td>
    <h4>Quantity: <%= quantity %></h4>
  </td>
  <td>
    <h4>Total: <%= line_total %></h4>
  </td>
</tr>
<% end %>
