<% if user = review.user %>
  <tr>
    <td><span><%= user.first_name %> <%= user.last_name %></span></td>
    <td><p><%= review.rating %></p></td>
    <td><p><%= review.description %></p></td>
  </tr>
<% end %>